* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#page_background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,159,105,1) 20%, rgba(0,159,105,1) 20%, rgba(224,224,224,1) 20%);
  padding-top: 20px;

}
.chat_wrapper {
  height: 680px;
  width: 80%;
  background-color: blue;
  margin: 0 auto;
}

.list_style {
  list-style: none;
}

/* find chat */
.main_content_right {
  width: 30%;
  height: 100%;
  background-color: green;
}
.my_profile {
  height: 60px;
  border: 2px solid black;
}
.notification {
  height: 65px;
  border: 2px solid white;
}
.search_chat {
  height: 35px;
  border: 2px solid yellow;
}
.chat_list {
  height: 520px;
  border: 2px solid grey;
  overflow-y: scroll;
}
