* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#page_background_top {
  height: 90px;
  width: 100%;
  background-color: purple;
}
#page_background_bottom {
  height: 100vh;
  width: 100%;
  background-color: yellow;
  position: relative;
}
.chat_wrapper {
  height: 600px;
  width: 80%;
  background-color: blue;
  position: absolute;
  top: -50px;
  left: 150px;
}
