* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
#page_background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #009688 20%, #009688 20%, rgba(217,219,213,0.8) 20%);
  padding-top: 20px;

}
.chat_wrapper {
  width: 85%;
  height: 680px;
  background-color: blue;
  margin: 0 auto;
}

.list_style {
  list-style: none;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main content left */
.main_content_left {
  width: 30%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
}
.my_profile {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #EDEDED;
  border-right: 1px solid #E0E0E0;
}
.my_avatar img {
  width: 40px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: #ffffff;
}
.my_profile_icons i {
  color: #A6AAAD;
  margin-right: 20px;
  font-size: 18px;
}
.notification {
  border: 2px solid white;
  flex-basis: calc((100% / 10));
}

.search_chat {
  border: 2px solid yellow;
  flex-basis: calc((100% / 10));
}

.chat_list {
  border: 2px solid grey;
  overflow-y: scroll;
  flex-basis: 100%;
  padding: 5px;
}
.chat_list_item {
  width: 100%;
  border: 1px solid lightblue;
}

/* main content right */
.main_content_right {
  width: 70%;
  height: 100%;
  background-color: purple;
  display: flex;
  flex-direction: column;
}

/* barra della chat corrente */
.current_chat {
  height: 60px;
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.current_chat_avatar {
  width: 10%;
  display: flex;
  align-items: center;
}
.current_chat_avatar img {
  width: 40px;
  border-radius: 50px;
}
.current_chat_name {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.current_chat_name h3 {
  color: #2B2B2B;
  font-weight: lighter;
}
.current_chat_name p {
  color: #A6AAAD;
}
.current_chat_icons {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.current_chat_icons i {
  font-size: 20px;
  margin-right: 20px;
  color: #A6AAAD;
}
/* finestra della conversazione */
.conversation {
  height: calc(100% - 120px);
  background-image: url(../img/mine.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
}


/* barra invio messaggi */
.send_message {
  height: 60px;
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
}
.smile_icon,
.send_icon {
  width: 8%;
}
.smile_icon,
.send_icon i {
  font-size: 23px;
  color: #A6AAAD;
}
.text_message {
  width: 84%;
}

.text_message input {
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
